* {
    font-family:"Andika New Basic" ;
    p {
        font-size: 15px;
    
     }
}
body {
    background-image: url('../assets/images/pexels-pixabay-235994.jpg');
    padding-top: 70px;
    padding-bottom: 70px;
}