@import './resets';

body {
    background-image: url('../assets/images/pexels-pixabay-235994.jpg');
    padding-top: 70px;
}
.navbar{
    padding-left: 20px;
    padding-right : 20px;
    border-bottom:  rgb(209, 208, 209);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.custom_style {
    font-size: 20px;
    font-weight: bold;
}

.glyphicon {
    padding-right: 8px;
}

#My_photo {
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.placeholder {
    margin: 15px;
    max-width: 300px!important;

}

.panel{
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
.panel-body{
    max-width: 95%;
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    border-top:  rgb(165, 162, 167);
    border-top-width: 5px;
    border-top-style: solid;
  }

