html *{
    font-family:"Andika New Basic" ;}

#custom_style {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(10, 19, 102);
}

#My_photo {
    margin-right: 10px;
}

p {
    font-size: 18px;
}